/* All */
:root {
  /* Color Variables */
  --primary-color: #333333; /* Primary Color: Charcoal Grey */
  --secondary-color: #FFDB58; /* Secondary Color: Mustard Yellow */
  --tertiary-color: #222222; /* Tertiary Color: Dark Charcoal */
  --accent-color: #FFEEAD; /* Accent Color: Light Mustard */
}

* {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  background-color: var();
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--tertiary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--accent-color);
}

.link {
  color: var(--accent-color);
}

.montserrat-heading {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* 100-900 */
  font-style: normal;
}


/* Header Section */


/* Hero Section */
.column {
    flex: 30%;
    padding: 5px;
    position: relative; /* Add position relative to position the overlay links */
  }
  img {
    width: 100%;
  }
  .container {
     display: flex;
  }

  /* Style the overlay links */
  #overlay-link1 {
    position: absolute;
    top: 15%;
    right: 5%;
    /* transform: translate(-50%, -50%); */
/*    background-color: rgba(255, 255, 255, 0.5);*/ /* Semi-transparent white background */
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none;
    color: #FFF;
    font-size: 36px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
  }

  #overlay-link2 {
    position: absolute;
    bottom: 15%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
/*    background-color: rgba(255, 255, 255, 0.5); */ /* Semi-transparent white background */
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none;
    color: #FFF;
    font-size: 36px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
  }

  /* Hover effect for overlay links */
  #overlay-link1:hover, #overlay-link2:hover {
    background-color: rgba(255, 255, 255, 0.7); /* Lighten the background on hover */
  }


/* Quote of the Day */
.quote-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0; /* Grey background */
  padding: 20px;
}

.quote-content {
  margin-left: auto;
}

.quote-content h2,
.quote-content p {
  text-align: right;
}

.image-container {
  width: 100px; /* Set the width of the image container */
  margin-left: 20px; /* Add space between text and image */
  margin-right: 7%;
}

.image-container img {
  width: 100%;
  border-radius: 50%; /* Make the image circular */
}


/* Homepage Blog Teaser Card */
.home-blog-teaser-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.home-blog-teaser-image-container {
  width: 20%; /* Set the width of the image container */
  margin-left: 20px; /* Add space between text and image */
}

.home-blog-teaser-image-container img {
  width: 100%;
  border-radius: 50%; /* Make the image circular */
}

.home-blog-teaser-content {
  margin: 25px; 
} 